@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

:root{
	--off-white: #fffcf9;
	--dan-red: rgb(181, 46, 45);
	--dan-dark-red: rgb(140, 26, 24);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: 'Gulzar', serif;
	display: flex;
	flex-direction: row;
	height: 100vh;
	margin: 0;
}

#lhs{
	flex: 1 1 calc(100% / 3);
	color: var(--off-white);
	background: rgb(255,114,111);
	background: radial-gradient(circle at center 60px, var(--dan-red) 0%, var(--dan-dark-red) 100%);
}

#rhs{
	flex: 1 1 calc(2 * (100% / 3));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--off-white);
}

#title{
	margin: 60px auto 60px 20px;
	line-height: 1.3em;
	font-size: 2.375em;
	font-weight: normal;
}

.divider{
	color: var(--off-white);
	width: 75%;
	margin: 0 auto 0 0;
}

#nav{
	margin: 0;
	padding: 0;
}

#nav li{
	list-style: none;
	margin: 20px;
	font-size: 1.5em;
}

.section{
	text-align: center;
	width: 500px;
	max-width: 90%;
}

.contact-links{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.contact-links > div {
	
}

.secret{
	color: black;
	background-color: black;
}

.secret:hover{
	background-color: var(--off-white);
}
